.jumbotron {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(53, 53, 53);
}

jumbotron:title {
  padding: 1em;
}

div:container {
  background: url("./images/jtimg0.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.jumbotron h1 {
  font-size: 32px;
}

.jumbotron h2 {
  font-size: 26px;
}

footer {
  text-align: center;
  position: fixed sticky;
  background: transparent;
  color: #353535;
  width: 100%;
  padding: 5px;
  padding-top: 130px;
  z-index: -1;
  margin: 0;
  margin-bottom: 0%;
  align-content: center;
  margin-top: 15px;
  padding-top: 30px;
}

.MailchimpSubscribe:button {
  background: rgb(225, 225, 225);
  opacity: 0.8;
}

nav.navbar {
  background: transparent;
  color: #3a5f93;
  position: sticky;
  align-self: center;
}

.navbar-expand-lg .navbar-nav {
  align-self: center;
}

.nav-item {
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  color: #3a5f93;
  font-size: 40px;
}
