.jumbotron {
  /* margin-bottom: 1em;
  background-image: url("./images/jtimg0.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  
  opacity: 0.1; */
  /* height: 600px; */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

jumbotron:title {
  padding: 1em;
}

/* .container {
  background-image: url(./images/Case-Study2.png) no-repeat center center fixed;
} */

div:container {
  background: url("./images/jtimg0.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.jumbotron h1 {
  font-size: 32px;
}

.jumbotron h2 {
  font-size: 26px;
}

footer {
  text-align: center;
  position: fixed sticky;
  /* background: #86a7d8; */
  background: transparent;
  color: #ffffff;
  width: 100%;
  padding: 4px;
  z-index: -1;
  margin: 0;
  align-content: center;
  margin-top: -15px;
  margin-bottom: 0%;
  padding-top: 30px;
}

.MailchimpSubscribe:button {
  background: #000;
  opacity: 0.6;
}

nav.navbar {
  background: transparent;
  color: #141414;
  position: sticky;
}

.nav-item {
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  color: #000;
}

.wrapper {
  background-image: url("./images/jtimg0.jpg") no-repeat center center fixed;
  width: 100;
}
