input {
  background: rgb(194, 194, 194);
  opacity: 0.3;
  border: solid;
  border-width: thin;
  padding: 9px 19px 9px 19px;
}

button {
  background: #005043;
  opacity: 0.8;
  border: none;
  padding: 10px;
  padding-left: 3em;
  padding-right: 3em;
  color: #ffffff;
}

button:hover {
  background: transparent;
  border: #005043;
  border-radius: 1.5px;
  border-style: solid;
}

.list-overflow-container {
  max-height: 545px;
  border: 1px #dddddd solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2a878c;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

a {
  color: rgb(45, 45, 45);
  font-size: 20px;
}
