.div:cover {
  /* margin-bottom: 1em; */
  /* background: url("./images/jtimg0.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
}

div {
  background: url("./images/bkgrnd.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  width: 100%;
  height: 100%;
}

.jumbotron h1 {
  font-size: 32px;
}

.jumbotron h2 {
  font-size: 26px;
}

h1.display-4 {
  padding: 1em;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
  font-size: 50px;
  font-family: sans-serif;
  color: #005043;
}

footer {
  text-align: center;
  position: fixed sticky;
  background: transparent;
  color: #969696;
  width: 100%;
  padding: 5px;
  padding-top: 130px;
  z-index: -1;
  margin: 0;
  margin-bottom: 0%;
  align-content: center;
  margin-bottom: 0%;
  padding-top: 30px;
}
