.btn {
  background: #3a5f93;
  opacity: 0.8;
  border: none;
  border-radius: 0%;
  padding: 20px 40px 20px 40px;
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  width: 300px;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1.5px solid;
  border-radius: 0%;
  border-color: #3a5f93;
  padding: 20px 40px 20px 40px;
}

.card {
  float: right;
}
