div {
  width: auto;
  height: auto;
}

button {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
}

.App,
.col,
.boxesSpace,
.buttonBar,
.CommentInput,
.CommentBox .CommentList,
.Comment {
  width: 50%;
  height: min-content;
  font-family: pt-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.input {
  padding: 50px 50px 70px 50px;
  margin-bottom: 20px;
  font-family: pt-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.buttonBar {
  position: relative;
  margin-top: 20px;
}
